/* Overlay rendering styles */

.render-media-overlay {
  position: absolute;
  inset: 0;
  pointer-events: none;
}

.render-media-overlay-media {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

